// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #F4F4F4
$color-footer-mobile-1 = darken($color-background, 2%) 
$color-footer-mobile-2 = darken($color-background, 10%) 
$color-background-code = darken($color-background, 2%) 
$color-border = #595959 
$color-scrollbar = #AAA 
$color-meta = #595959 
$color-meta-code = lighten($color-meta, 10%) 
$color-link = rgba(212, 128, 170, 1) 
$color-text = #111111 
$color-accent-3 = #777777 
$color-accent-2 = #2F8DCA
$color-accent-1 = #2570A1
$color-quote = #111111 
$highlight = hexo-config("highlight") || "atelier-cave-light" 
